# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
ENV/
.venv

# Images et résultats
potential_ducks/
images/
images_instance_*/
screenshots/
*.jpg
*.png
*.jpeg

# Checkpoint de progression
checkpoint.json
checkpoint_instance_*.json
checkpoint_merged.json

# IDE
.vscode/
.idea/
*.swp
*.swo

# Logs
*.log
logs/
